html {
    background-color: blanchedalmond;
}
h1 {
    color: rgb(84, 155, 157);
    text-decoration-line: underline;
    text-decoration-color: cadetblue;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color:rosybrown;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    background-attachment: fixed;
}
li {
    float: left;
    letter-spacing: 5px;
}
li a {
    display: block;
    color: rgb(14, 75, 92);
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
}
a:focus,
a:hover {
    color: rgb(181, 10, 133);
    text-decoration: underline;
    transform: scale(2);
}
a:active{
    text-decoration: underline;
    color: purple;
    transform: scale(1);
}
@media screen and (min-width: 600px) and (max-width: 1200px)  {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}